<!DOCTYPE html>
<html>
    <head>
        <title>Django myapp1</title>
        <script>
            
        </script>
    </head>
    <body>
        
        <div class="header">
            <a href="{% url 'home' %}">Home</a>
        </div>
        <h1> Login Page</h1>
        <div class='user_login_div'>
            <label> <b>Username</b> </label><br>
            <input type="text" placeholder="Enter Username" required></input>
            <br><br>
            <label> <b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" required></input>
            <br><br>
            <button type="submit" onclick="()=>{
                
            }">Login</button>
        </div>
    </body>
</html>
